a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 12px
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 96px;
    margin: 0px;
}

.hero {
    display: flex;
    align-items: center;
    padding-bottom: 96px;
}

.awesome {
    display: flex;
    flex-direction: column;
    padding-right: 24px;
}

.top {
    background-color: #1F2937;
    padding: 4px 200px 48px 200px;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0px;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 4px;
}

.placeholder {
    color: #E5E7EB;
    padding: 56px;
    background-color: #6D747D;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 100px;
}

.button-top {
    background-color: #3882F6;
    border: none;
    border-radius: 6px;
    width: max-content;
    padding: 8px 32px 8px 32px;
    color: #E5E7EB;
    margin-top: 8px;
}

.info {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
}

.boxes { 
    display: flex;
    gap: 60px;
}

.box {
    border: solid;
    border-width: 4px;
    border-color: #3882F6;
    height: 0;
    width: 100%;
    padding-top: 100%;
    border-radius: 10%;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: grey;
}

.part2 {
    margin: 40px 300px 60px 300px;
}

.testimonial {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 60px 320px 50px 320px;
}

.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    margin-bottom: 0px;
}

.thor {
    font-weight: bold;
    align-self: flex-end;
    margin-top: 0px;
}

.cta {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    padding: 52px 100px 52px 100px;
    margin: 80px 200px 80px 200px;
    border-radius: 8px;
}

.cta-text {
    display: flex;   
    flex-direction: column;
    color: white;
}

.button-bottom {
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    width: max-content;
    padding: 8px 32px 8px 32px;
    color: #E5E7EB;
    margin-top: 8px;
}

.cta-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
}

.cta-long-text {
    margin: 0px;
    color: #E5E7EB;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    color: #E5E7EB;
    padding: 24px 0px 24px 0px;
}