a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 12px
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 96px;
}

.hero {
    display: flex;
    align-items: center;
    padding-bottom: 96px;
}

.awesome {
    display: flex;
    flex-direction: column;
    padding-right: 24px;
}

.top {
    background-color: #1F2937;
    padding: 4px 42px 48px 96px;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0px;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 4px;
}

.placeholder {
    color: #E5E7EB;
    padding: 56px;
    background-color: #6D747D;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 100px;
}

button {
    background-color: #3882F6;
    border: none;
    border-radius: 4px;
    width: max-content;
    padding: 8px 24px 8px 24px;
    color: #E5E7EB;
    margin-top: 8px;
}

.info {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
}

.boxes { 
    display: flex;
}

.box {
    border: solid;
    border-color: #3882F6;
    height: 100px;
    width: 100%;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.part2 {}